@import url('https://fonts.googleapis.com/css?family=Abel|Bitter&display|Pacifico&display=swap');

/* 
font-family: 'Abel', sans-serif; for normal text
font-family: 'Bitter', serif;  for heading
*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


html {
    font-size: 10px;
    font-family: 'Abel', sans-serif;
    line-height: 1.6;
    
}

body {
    font-size: 2rem;
    overflow-x: hidden;
   
}
    

header {
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,0.9587185215883228) 0%, rgba(126,34,201,0.981127485173757) 0%, rgba(86,35,130,1) 100%);
    min-height: 700px;
    height: 100vh;
    border-bottom-left-radius: 40%;
}


nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    font-family: 'Bitter', serif;
    padding: 20px;
    background-color: rgb(128, 87, 182);
}
.logo {
    margin-right: auto;
    color: rgb(255, 115, 64);
    font-family: 'Pacifico', cursive;
}
nav ul li {
    display: inline-block;
    padding: 0px 15px;
}

nav a {
    color: #fff;
}
nav ul li a:hover {
    color: rgb(255, 115, 64);
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #fff;
}

.description {
    flex: 1;
    margin-top: 50px;
    margin-right: 48px;
}

.head_img {
    flex: 1;
}

.menu {
    padding: 5px;
    color: #50cc65;
    visibility: hidden;
    position: relative;
    top: -255px;
    left: 100px;
}

/* for resposive nav */
.show {
    visibility: visible;
    z-index: 29;
    color: #fff;
    background-color: rgb(31, 19, 19);
    height: 300px;
}
/* end responsive */

@media (max-width: 1200px) {
    nav ul li {
        display: block;
    }
    nav ul {
        margin-top: 20px;
        visibility: hidden;
    }
    nav {
        height: 68px;
    }
    .menu {
        visibility: visible;
    }
}

@media (max-width: 992px)
{
    .header {
        flex-direction: column;
        text-align: center;
    }
    .title {
        font-size: 32px !important;
    }
}
/* end header */

/* start services */

.services {
    padding-bottom: 32px;
}

.fig_item {
    display: flex;
}
.services figure {
    flex: 250px;
    border: 0.6px dashed rgb(10, 5, 5);
    transition: all .6s;
    padding: 0px 15px;
}

.services figure:hover {
	background-color: rgb(255, 115, 64);
	color: white;
	position: relative;
	transform: translateY(-20px);
}

.services figure:hover .fas {
    color: #bdee4b;
}

.services .fas {
    font-size: 200%;
    color: #7124b0;
    padding: 20px 0px;
}
@media (max-width: 992px) {
    .services {
        margin-top: 300px;

    }
    .fig_item {
        flex-direction: column;
    }
}

@media (max-width: 575px)
{
    .services {
        margin-top: 200px;

    }
} 

/* end services */

/* qui somme nous */
.about_img, .about_descri {
    flex: 1;
    margin-top: 50px;
    color: #fff;
}

.about_descri {
    margin-left: 56px;
}

#qui_nous {
    
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,0.9587185215883228) 0%, rgba(126,34,201,0.981127485173757) 0%, rgba(86,35,130,1) 100%);
}
@media (max-width: 992px) {
    .about_us {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;

    }
    .about_descri {
        margin: 0;

    }
}
/* end qui somme nous */


/* nos réalisations */
.realisations {
    background-color: #fff;
    height: auto;
}
.projects div {
	width: 23%;
	height: auto;
	margin-bottom: 20px;
	margin-left: 2%;
	position: relative;
	height: 250px;
	text-align: center;
}

.projects div img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.div_realisa {
	position: relative;
}

.div_realisa h2 {
	padding: 48px 0;
}

/* .projects div {
	
} */
.projects div p {
	font-size: 16px;
}

.pro h3, .pro p {
	position: absolute;
	top: 25%;
	left: 0;
	color: #000;
	visibility: hidden;
	transition: all 0.3;
}

.pro h3 {
	top: 15%;
	left: 35%;
	
}
.projects .pro:hover {
    background-color: rgb(0,0, 0);
    
}
.projects .pro:hover h3, .projects .pro:hover p {
    visibility: visible;
    color: #fff;
}

.projects .pro:hover img {
    opacity: 0.2;
}

@media (max-width: 992px) {
    .realisations  {
        text-align: center;
    }
    .projects div {
        width: 46%;
    }
    .pro h3 {
        left: 43%;
        top: 10%;
    }
}
@media (max-width: 575px)
{
    .projects div {
        width: 96%;
    }

}
/* end nos réalisations */

/* equipe  */
.equipes {
    clear: both;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,0.9587185215883228) 0%, rgba(126,34,201,0.981127485173757) 0%, rgba(86,35,130,1) 100%);
    padding-bottom: 32px;
    color: #fff;
}

.equipe_grp {
    display: flex;
    justify-content: space-between;
}

.equipe_grp figure {
    flex: 20%;
    height: 300px;
}
.equipe_grp figure img {
    height: 75%;
    padding: 20px;
   
}
@media (max-width: 575px){
    .equipe_grp {
        flex-direction: column;
    }
}
/* end equipe  */

/* nos partner */

#clients {
    background-color: #fff;
}
.partner {
    display: flex;
    justify-content: space-between;
}
.partner img {
    display: inline-block;
    width: 20%;
    border-radius: 10px;
    margin-bottom: 20px;
}



/* end nos partner */

/* testimonials */
.users {
    display: flex;
    justify-content: space-between;
}
.users div {
    flex: 40%;
    background: rgb(226, 226, 226);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.8rem;
    text-align: justify;
}

.users div img {
    display: inline-block;
    width: 20%;
    height: 20%;
    border-radius: 10%;
}

.users div:first-child {
    margin-right: 80px;
}
.name{
    display: flex;
}
.name p {
    padding-left: 20px;
}
.name span {
    display: block;
    font-size: 28px;
    font-weight: bold;
}
@media (max-width: 992px) {
    .users {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
    .users div:first-child {
        margin-bottom: 20px;
        margin-right: 0px;
    }
}
/* tetimonials */

/* pricing */
.pricing_list {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

.prising_item {
    width: 340px;
    /* padding: 20px; */
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    padding-bottom: 20px;
    border: 0.6px solid grey;
}

.prising_item h4 {
    padding: 28px 20px;
    width: inherit;
    background-color: #50cc65;
    color: #fff;
}
.prising_item ul li:not(:first-child) {
    padding: 10px 0px;
    border-bottom: 0.6px dashed grey;
    
}


.prising_item ul li:first-child {
    padding-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.not_sup_vitrine, .not_sup_integral {
    text-decoration: line-through;
}
.prising_item:hover {
    transform: translateY(-15px);
    box-shadow: 10px 10px 10px grey;
}
@media (max-width: 992px) {
    .pricing_list{
        flex-direction: column;
        align-items: center;
    } 
    .prising_item {
        margin-bottom: 20px;
    }
}
/* end pricing */


/* social media and awards */
.socail {
    display: flex;
    justify-content: space-around;
    padding: 32px 0px;
}

.socail div {
    width: 20%;
    /* background-color: rgb(238, 239, 240); */
    text-align: center;
}
.socail div i {
    display: block;
    font-size: 200%;
    padding-bottom: 20px;
    color: rgb(245, 167, 22);
}

/* contactez nous */
.contact {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    /* background-color: rgb(233, 229, 229); */

}

.contact div:first-child {
    width: 30%;
    margin-left: 48px;
}
.contact div:last-child {
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
}

.contactez_nous h4 {
    text-align: center;
    padding: 10px 0px;
}
form input {
    padding: 10px;
    border: 0.5 solid rgb(87, 87, 182);
    margin-bottom: 10px;
}

form textarea {
    padding: 10px;
}

.social_media_icon .fab
{
    font-size: 150%;
    padding: 20px 0px;
}
.fa-facebook-square {
    color: rgb(53, 53, 175);
}
.fa-twitter {
    color: rgb(83, 127, 209);
}
.fa-youtube {
    color: rgb(235, 33, 33);
}

.fa-arrow-up {
    margin-top: 48px;
    color: rgb(0, 0, 0);
    font-size: 150%;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    background: rgb(252,252,252);
    color: #fff;
    background: linear-gradient(90deg, rgba(252,252,252,0.9587185215883228) 0%, rgba(126,34,201,0.981127485173757) 0%, rgba(86,35,130,1) 100%);

}

footer p {
    margin-right: auto;
}

footer ul li {
    display: inline-block;
    padding-left: 15px;
}
footer ul li a {
    color: #fff;
}


@media (max-width: 992px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }
    .contact div:first-child {
        width: 90%;
        margin-left: 0px;
    }
    .contact div:last-child {
        width: 90%;
    }
    .fa-arrow-up {
        position: relative;
        top: 500px;
        left: -140px;
        
    }
    footer ul {
        visibility: hidden;
    }
    footer {
        flex-direction: column;
    }
    footer p {
        margin: auto;
        padding-top: 32px;
    }
}














/* Extra small */
@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}

/* for small */

@media (min-width: 576px) {
    .container {
        width: 546px;
    }
}

/* tablet */
@media (min-width: 768px) {
    .container {
        width: 728px;
    }
}

/* medium screen */
@media (min-width: 992px) {
    .container {
        width: 962px;
    }
}


/* large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}










.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.res-img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.title {
    font-size: 56px;
    text-transform: capitalize;
    padding: 20px 0;
    color: rgb(255, 115, 64);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.text-start {
    text-align: start;
}

.btn {
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
	text-transform: capitalize;
	text-align: center;
	margin-top: 20px;
	background-color: rgb(245, 167, 22);
	color: #fff;
    cursor: pointer;
   
}
/* .lg_hidden {
	visibility: hidden ;
} */

.sm_hidden {
	visibility: visible;
}

.float_left {
	float: left;
}


.btn:hover {
    background-color: #50cc65;
}
