@import url('https://fonts.googleapis.com/css?family=Oswald:500|Quicksand&display=swap');

/* general styles */
/* font used
font-family: 'Quicksand', sans-serif; for normal text
font-family: 'Oswald', sans-serif;   for navigation and heading
*/

* {
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Quicksand', sans-serif;
	line-height: 1.6;
	overflow-x: hidden;
	font-size: 1.2rem;
}

/* header */
/* navigation */
nav {
	display: flex;
	padding: 20px 0px;
	justify-content: flex-end;
}

nav ul li{
	display: inline-block;
	margin-left: 20px;
}
nav ul li a{
	color: #000;
	font-size: 18px;
}
nav ul {
	padding-top: 16px;
	font-family: 'Oswald', sans-serif;
}

.logo {
	margin-right: auto;
}

header {
	background: url(../img/background-cement-concrete-paint-242236.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 80vh;
	min-height: 700px;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
}

/* title and photo the header */
.head_title {
	padding-top: 48px;
}
.head_title div {
	float: left;	
}
.head_title div:first-child {
	width: 30%;
	padding-top: 24px;
}
.head_title div:last-child {
	width: 55%;
}
.head_title div img {
	width: 100%;
}

.agence_photo {
	margin-left: 15%;
}
 .menu {
	border: none;
	font-size: 200%;
	background-color: white;
	padding-bottom: 5px;
	/* color: rgb(245, 167, 22); */
	cursor: pointer;
	width: 50px;
	height: 50px;

}


/* services section */
.first_serv {
	margin: 48px auto;
}
.first_serv figure {
	width: 20%;
	margin-left: 3%;
	height: 250px;
	padding: 20px 20px 20px 0;
	transition: all .6s;
	font-size: 1rem;
	border: 0.3px dashed rgb(224, 224, 224);
}

.first_serv figure:hover {
	background-color: #f78d2b;
	color: white;
	position: relative;
	transform: translateY(-20px);
}

.fas {
	font-size: 150%;
	color: rgb(189, 238, 75);
	padding-bottom: 10px;
}
.first_serv figure h3 {
	padding: 15px;
}


/* end services section */

/* qui nous section */ 
.qui_nous {
	clear: both;
}
#qui_nous div div:first-child {
	width: 40%;
	padding-top: 32px;
}

#qui_nous div div:last-child {
	margin-left: 10%;
	width: 50%;
	padding-top: 56px;
}
#qui_nous h2 {
	padding-bottom: 32px;
}
.about_us {
	position: relative;
	top: 48px;
}

/* end qui nous section */


/* nous réalisations */
.realisations {
	clear: both;
}
.projects div {
	width: 23%;
	height: auto;
	margin-bottom: 20px;
	margin-left: 2%;
	position: relative;
	height: 250px;
	text-align: center;
}

.projects div img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.div_realisa {
	position: relative;
	/* position: fixed; */
	top: 80px;
}

.div_realisa h2 {
	padding: 48px 0;
}

/* .projects div {
	
} */
.projects div p {
	font-size: 16px;
}

.pro h3, .pro p {
	position: absolute;
	top: 25%;
	left: 0;
	color: #000;
	visibility: hidden;
	transition: all 0.3;
}

.pro h3 {
	top: 15%;
	left: 35%;
	
}

.projects .pro:hover h3, .projects .pro:hover p {
	visibility: visible;
}
.projects .pro:hover p {
	color: rgb(2, 2, 2);
}
.projects .pro:hover img {
	opacity: 0.2;
}

@media (max-width: 992px) {
	.projects div {
		width: 48%;
	}
}
/* end nous réalisations */
/* equipe section */
.equipes {
	padding: 48px 0px;
	clear: both;
	margin-top: 48px;
	position: relative;
	top: 120px;
	color: #000;
	background-color: rgba(241, 240, 240, 0.87);
}

.equipe {
	display: flex;
}
.equipe figure {
	flex: 30%;
	padding: 1.5%;
}

.equipe figure img {
	width: 200px;
	height: 200px;
	padding: 48px 48px 0px 48px;
}

.devis {
	background-color: #f78d2b;
}
/* end of equipe section */
@media (max-width: 992px)
{
	header {
		height: auto;
	}
	.lg_hidden{
		visibility: visible !important;
	}
	.sm_hidden {
		visibility: hidden !important;	
	}
	.head_title div {
		float: none;
	}
	.head_title div:first-child, .head_title div:last-child {
		width: 100%;
	}
	.head_title {
		padding-top: none;
	}
	.head_title div:last-child {
		margin-top: 20px;
	}
	#qui_nous div div:first-child, 
	#qui_nous div div:last-child {
		float: none;
		width: 90%;
		padding: 24px;
	}
	
}

@media (max-width: 1200px)
{
	.first_serv figure {
		width: 40%;
		margin-top: 32px;
	}
}
/* title and photo the header  */
/* end navigation */
/* end header */















/* media queries */
/* for small smartphone */
@media (max-width: 567px)
{
	.first_serv figure {
		width: 80%;
		float: none;
	}
	.projects div {
		width: 98%;
	}
}
/* for mobile and tablet screen */
@media (max-width: 767px)
{
	
}

/* for small screen */
@media (min-width: 768px)
{
.container {
	width: 767px;
}

}
/* for medium screen */
@media (min-width: 992px)
{
.container {
	width: 1000px;
}
}


/* for large screen */
@media (min-width: 1200px)
{
	.container {
		width: 1200px;
	}
	
}




/* general classes of multiple use */
.container {
	margin: auto;
}

.title {
	font-weight: bold;
	font-size: 56px;
	line-height: 1.2;
}

.text-center {
	text-align: center;
}

.btn {
	padding: 16px 20px;
	border: none;
	text-transform: capitalize;
	text-align: center;
	margin-top: 20px;
	background-color: rgb(245, 167, 22);
	color: #fff;
	cursor: pointer;
}


.lg_hidden {
	visibility: hidden ;
}

.sm_hidden {
	visibility: visible;
}

.float_left {
	float: left;
}

.clear_float {
	float: none;
}